body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.5em;

}
input{
    font-family: 'Roboto', sans-serif;
}
.contenedor{
    margin-right: 2%;
    margin-left: 2%;
}
#titulo{
    color: white;
}
#dias-div{
    width: 100%;
    display: inline-block;
    //text-align: center;
}
.div-actividad{
    margin: 5%;
    //height: 70vh;
    overflow: hidden; 
    width: 80%;
    text-align: center;
    margin-bottom: 5%; 
}

#dias-div {
    height: 100vh;
}
.dia-boton{
    margin-top: 0.75%;
    margin-bottom: 0.75%;
    height: 11%;
    width: 100%;
    background-color: transparent;

}
.dia-boton, .div-actividad{
    font-family: 'Roboto', sans-serif;
    color: white;
    border: solid transparent;
    border-bottom-color: skyblue;
    border-bottom-right-radius: 25px;
    border-left-color: skyblue;   
    outline: none;
}

.div-editar{
    margin: 0;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 10vh;
    font-family: 'Roboto', sans-serif;
    color: white;
    border: solid transparent;
    border-bottom-color: skyblue;
    border-left-color: skyblue;
    border-right-color: skyblue;
    outline: none;
    
}

table td{
    padding: 10px;
}

/****      evento.html                     ***/

#div-cuerpo{
    color: white;
}
.etiqueta{
    margin-right: 2%;
}
#input-fecha{
    background-color: gray;
}
.radio-prioridad{
    margin: 4%;
    color: white;

}
.boton-android{
    //background-color: gray;
    padding: 1%;

    background: #333333;
    border-color: #444444;
    color: white; 
    width: 110px; 
    outline: none;
    //height: 40px;
}
.boton-android2{
    //background-color: gray;
    padding: 1%;
    background: #333333;
    border-color: #444444;
    color: white; 
    width: 15%; 
    outline: none;
    //height: 40px;
}

.android-textfield{
    //margin: 2%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    color: white;
    border-color: black;
    border-bottom-color: gray;
    border-radius: 25px;
    outline: none;
}
@media only screen and (max-width: 860px) {

    body { font-size: 1.4em; }

}
@media only screen and (max-width: 760px) {

    body { font-size: 1.2em; }

}

@media only screen and (max-width: 660px) {

    body { font-size: 1em; }

}
@media only screen and (max-width: 574px) {

    body { font-size: .8em; }

}
/*
@media only screen and (max-width: 440px) {

    body { font-size: .5em; }

}
*/

