@media only screen and (max-width: 660px) {

   body { font-size: .75em; }

}
@media only screen and (max-width: 574px) {

   body { font-size: .6em; }

}
@media only screen and (max-width: 440px) {

   body { font-size: .5em; }

}

