html, body, #wrapper {
   height:100%;
   width: 100%;
   margin: 0;
   padding: 0;
   border: 0;
   background-color: black;
}
#wrapper td {
   vertical-align: middle;
   text-align: center;
}
#wrapper td img{
    margin-left: 23% !important;
    margin-top: 23% !important;
    margin-bottom: 23% !important;
    width:54% !important;
    height:54% !important;
    display:block;
}