body{
	background-color: black;
	font-family: Roboto
}
h3{
	text-align: center;
	color: white;
}
#registro{
	width: 100%;
}
label{
	text-align:left;
	color: darkgray;
	;
}
input[type=submit]{
	background: #333333;
	border-color: #444444;
	color: white; 
	width: 120px; 
	height: 40px;
}
/*
input[type=text]{
	border-radius: 20px;
	background:#010101;
	border-color: #101010;
	color:white;
}
*/

#img{
	top: 0;
	left: 0;
}
